.modal {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.3);

    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-body {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    max-width: 60vw;
    max-height: 60vh;
    min-height: 30vh;
    min-width: 30vw;
}
@keyframes fadeInOut {
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% { opacity: 0; }
  }
  
  .box {
    animation: fadeInOut 2s linear infinite;
  }

.modal-header{

}
.modal-content {

}